<body class="colorchange2">
  
  <div class="bookcards">
      <% @comics.order('title ASC').each do |comic| %>
            <div class="card mb-3" style="max-width: 540px;">
               <div class="backgroundcard">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <% if comic.photo.attached? %>
                    <div class="card-img-top d-flex justify-content-left mt-3 mb-2"><%= cl_image_tag comic.photo.key, height: 200, width: 135, crop: :thumb %></div>
                    <% else %>
                    <div class="card-img-top d-flex justify-content-left mt-3 mb-2"><%= image_tag 'bookcovernot.png' %>
                    </div>
                  <% end %>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                  <div class="card-info">
                   <a href="<%= user_comic_path(current_user.id, comic) %>" class="stretched-link"></a>
                    <h5 class="card-title"><strong>Title:</strong> <%= comic.title %></h5>
                    <p class="card-text"><strong>Colection:</strong> <%= comic.colection %></p>
                    </div>
                  </div>
                </div>
              </div>
             </div>
             </div>
            <% end %>
        </div>

     


<div class="container mt-2">
  <div class="row d-flex justify-content-center">
    <div class="col-align-self-center">
      <div style="margin-top: 20%">
            <%= link_to "Back", root_path, class: "btn btn-outline-light"%>
      </div>
    </div>
  </div>
</div>

</body>