
  <body class="page_background">
  
 
 <div class="bookcards_show">
        <div class="d-flex justify-content-center" style="margin-top: 5%">
          <div class="row no-gutters">
           <div class="col-md-4">
        <% if @comic.photo.attached? %>
           <div class="card-img-top d-flex justify-content-left mt-3 mb-2" style="margin-top: 5%"><%= cl_image_tag @comic.photo.key, height: 380, width: 270, crop: :thumb %></div>
        <% end %>
        </div>
       </div>
      </div>
      <div class="container mt-2">
        <div class="row d-flex justify-content-center">
           <div class="col-align-self-center">
              <h4 class="card-title"><strong>Title:</strong> <%= @comic.title %></h4>
              <h6 class="card-text"><strong>Colection:</strong> <%= @comic.colection %></h6>
           </div>
          </div>
        </div>
        <br>
<div class="row d-flex justify-content-center">
   <div class="d-flex flex-wrap-nowrap">
      <%= link_to "Delete",
                    user_comic_path(current_user.id, @comic), class: "btn btn-ghost-danger",
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
                    <%= link_to "Update", edit_user_comic_path(current_user.id, @comic), class: "btn btn-ghost" %></button>
                    <%= link_to "Loan", new_user_comic_comicloan_path(current_user.id, @comic, @comicloan), :"data-turbolinks" => false, class: "btn btn-ghost" %></button>
      </div>
    </div>

<br>
         <div class="container mt-2">
           <div class="row d-flex justify-content-center">
             <div class="col-align-self-center">
               <% if @comic.comments.present? %>
                 <h6><strong>Notes:</strong></h6>
                 <p><%= @comic.comments %></p>
               <% else %>
                 <h5>To leave a comment, update comic information</h5>
              <% end %>
        </div>
      </div>
    </div>

   </div>
  </div>
 </div>
 



<div class="container mt-2">
  <div class="row d-flex justify-content-center">
    <div class="col-align-self-center">
      <div style="margin-top: 20%">
            <%= link_to "Back", user_comics_path(current_user.id), class: "btn btn-outline-dark"%>
      </div>
    </div>
  </div>
</div>

</body>