<br>
<br>
<br>

<div class="container">
    <div class="row w-100">
      <div class="col-xs-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 p-0">
         <% @loans.each do |loan| %>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-8">

                <div class="card-body">
                  <h4 class="card-title"><strong>Title:</strong> <%= loan.book.title %></h4>
                  <h5 class="card-title"><strong>Name:</strong> <%= loan.name %></h5>
                  <p class="card-text"><strong>Loan date:</strong> <%= loan.date %></p>
                </div>
                <div class="d-flex justify-content-center">
                  <%= link_to "Delete",
                  user_book_loan_path(current_user.id, :book_id, loan), class: "btn btn-ghost-danger",
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
                </div>
              </div>
             </div>
            </div>
          <% end %>
    </div>
  </div>

<div class="container mt-2">
  <div class="row d-flex justify-content-center">
    <div class="col-align-self-center">
      <div style="margin-top: 20%">
            <%= link_to "Back", root_path, class: "btn btn-outline-dark"%>
      </div>
    </div>
  </div>
</div>




