<div class="container">
  <div class="row w-100">
    <div class="col-xs-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 p-0">
      <div class="form-login">

        <%= simple_form_for(@category) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


          <div class="form-inputs">
            <%= f.input :name %>
            <%= f.input :desc %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, class: "btn btn-outline-success" %>
          </div>
        <% end %>
     </div>
    </div>
  </div>
</div>